doctype html
head
  title InThisCity Admin
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='images/icons/favicon.ico')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/iconic/css/material-design-iconic-font.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animsition/css/animsition.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/daterangepicker/daterangepicker.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='css/util.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  // ===============================================================================================
.limiter
  .container-login100(style="background-image: url('images/bg-01.jpg');")
    .wrap-login100
      form.login100-form.validate-form(action='addevent' method='POST' enctype="multipart/form-data")
         
        span.login100-form-title.p-b-34.p-t-27  Events Entry
        .wrap-input100.validate-input(data-validate='Paid or Unpaid')
          select.input101(name="paid")
            option(value="true") Paid
            option(value="false") Not-Paid

          
          span.focus-input100(data-placeholder='')     
        .wrap-input100.validate-input(data-validate='Enter Title')
          input.input100(type='text' name='title' placeholder='Event Title')
          span.focus-input100(data-placeholder='Title')
        .wrap-input100.validate-input(data-validate='Date')
          input.input100(type='date' name='date' placeholder='') 
          span.focus-input100(data-placeholder='Date')
        .wrap-input100.validate-input(data-validate='Time')
          input.input100(type='time' name='time-from' placeholder='234') 
          span.focus-input100(data-placeholder='Time (from)')
        .wrap-input100.validate-input(data-validate='Time')
          input.input100(type='time' name='time-to' placeholder='') 
          span.focus-input100(data-placeholder='Time (to)')  
        .wrap-input100.validate-input(data-validate='Location')
          input.input100(type='text' name='location' placeholder='Location(12.952673, 77.636287)') 
          span.focus-input100(data-placeholder='Lat,Long')  
        .wrap-input100.validate-input(data-validate='Cover Image')
          input.input100u(type='file' name='img-cover' placeholder='Cover Image') 
          span.focus-input100(data-placeholder='Cover')            
        .wrap-input100.validate-input(data-validate='Image')
          input.input100u(type='file' name='img' placeholder='Image File' multiple) 
          span.focus-input100(data-placeholder='PNG')  
        .wrap-input100.validate-input(data-validate='Description')
            textarea.input100textbox(name='description')  
            span.focus-input100(data-placeholder='D')       
        .wrap-input100.validate-input(data-validate='Fare')
          input.input100(type='number' name='fare' placeholder='Amount in INR, 0 if free') 
          span.focus-input100(data-placeholder='Price')              
        .wrap-input100.validate-input(data-validate='Organiser Title')
          input.input100(type='text' name='organiser-title' placeholder='Organiser Title') 
          span.focus-input100(data-placeholder='Org')                        
        .wrap-input100.validate-input(data-validate='Organiser Mob')
          input.input100(type='text' name='organiser-mob' placeholder='Organiser Mob (+YYxxxxxxxxxx)') 
          span.focus-input100(data-placeholder='Org')                       
        .wrap-input100.validate-input(data-validate='Organiser Mail')
          input.input100(type='text' name='organiser-mail' placeholder='Organiser Mail(x@y.z)') 
          span.focus-input100(data-placeholder='Org')                         
        .container-login100-form-btn
          button.login100-form-btn Add Event
#dropDownSelect1
// ===============================================================================================
script(src='vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(src='vendor/animsition/js/animsition.min.js')
// ===============================================================================================
script(src='vendor/bootstrap/js/popper.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(src='vendor/select2/select2.min.js')
// ===============================================================================================
script(src='vendor/daterangepicker/moment.min.js')
script(src='vendor/daterangepicker/daterangepicker.js')
// ===============================================================================================
script(src='vendor/countdowntime/countdowntime.js')
// ===============================================================================================
script(src='js/main.js')